<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form1</title>
</head>
<body>
    <h1 style="text-align: center;">this is the form1</h1>
    <form method="POST">
        {% csrf_token %}
            <label for="top">topic_name</label>
            <select name="top" id="top">
                {% for to in tops %}
                    <option value="{{to}}">{{to.topic_name}}</option>
                {% endfor %}
            </select><br><br>
            <label for="na">name:</label>
            <input type="text" id="na" name="na">
            <label for="ur">url</label>
            <input type="text" id="ur" name="ur">
            <button type="submit" value="form1">sumbit</button>


    </form>
</body>
</html>